#title {
    font-size: 60px;
    font-family: "Bookman Old Style";
    text-align: center;
    margin-top: 30px;
}

#table1,#table2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: lightseagreen;
}
#getGrade {
    margin: auto;
    margin-top: 50px;
    padding:10px;
    border-radius: 25px;
}
#getCost {
    margin: auto;
    margin-top: 50px;
    padding:10px;
    border-radius: 25px;
}
#getCost:hover{
    color: whitesmoke;
    background-color: dimgrey;
}
#getGrade:hover{
    color: whitesmoke;
    background-color: dimgrey;
}

body {
    background-color: mintcream;
}

#center {
    width: 65%;
    margin:auto;
    text-align: center;
}
#disclaimer {
    margin-top: 50px;
}